
.highlight{
    background: #8e24aa;
    color: black;
}

/*
.mdl-layout__header {
     background: url('../img/transparent.jpg') center / cover;
} 
*/


.mdl-layout__header {
    /* This background is dark, so we set text to white. Use 87% black instead if
    your background is light. */
    
    color: white;
    background: #26c6da;
  }

#menu {
    padding-top: 12px;
}

#search {
    margin-top: 20px;
}

#root-link {
    text-decoration: none;
    color: white;
}

.mdl-card {
    margin: auto;
    width: 700px;
    margin-bottom: 20px;
}
.mdl-card__title {
  height: 176px;
  background: url('../img/neon.jpg') center / cover;
}

.mdl-card__title-text {
    text-decoration: none;
    color: white;      
}

.mdl-card__menu {
  color: #fff;
}
