{% extends 'blog/base.html' %}

{% block content %}
  {% for post in posts %}
    <div class="post mdl-card">
        <div class="mdl-card__menu">
            <span class="mdl-chip">
              <span class="mdl-chip__text">
                <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
              </span>
            </span>
        </div>
      <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
      <div class="mdl-card__actions mdl-card--border">     
          <p>{{ post.text|truncatechars:200 }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
