/* .page-header {
    background-color: #35629c;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

body {
    font-family: 'Roboto', sans-serif;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}

.comment {
  margin: 20px 0px 20px 20px;
}

.author {
  text-align: right;
}
*/

.highlight{
    background: #8e24aa;
    color: black;
}

/*
.mdl-layout__header {
     background: url('../img/transparent.jpg') center / cover;
} 
*/


.mdl-layout__header {
    /* This background is dark, so we set text to white. Use 87% black instead if
    your background is light. */
    
    color: white;
    background: #26c6da;
  }

#menu {
    padding-top: 12px;
}

#search {
    margin-top: 20px;
}

#root-link {
    text-decoration: none;
    color: white;
}

.mdl-card {
    margin: auto;
    width: 700px;
    margin-bottom: 20px;
}
.mdl-card__title {
  height: 176px;
  background: url('../img/neon.jpg') center / cover;
}

.mdl-card__title-text {
    text-decoration: none;
    color: white;      
}

.mdl-card__menu {
  color: #fff;
}
